@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
	background-image: url('../img/bg.png');
	background-size:cover;
	/**background-color: #34495e;**/
	margin: 0px;
	padding: 0px;
}

span
{
	color: #ecf0f1;
}

.green
{
	color: #2ecc71;
}

.red
{
	color: #e74c3c;
}

.row
{
	margin-top: 20px;
}

.title
{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 4em;
	text-align: center;
}

.box
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	margin-bottom: 57px;
	border: 1px #000 solid;
}

.box-header
{
	width: 100%;
	height: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.box-title
{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #FFF;
	padding: 8px 5px 0px 10px;
}

.box-content
{
	color: #FFF;
	padding: 5px;
}

.box-strip
{
	padding: 5px;
	height: 35px;
	background-color: rgba(50, 50, 50, 0.7);
}

.box-strip:nth-child(odd)
{
	padding: 5px;
	height: 35px;
	background-color: rgba(50, 50, 50, 0.3);
}

.strip-left
{
	float: left;
	color: #2ecc71;
	font-size: 1em;
	min-width: 40px;
	text-align: center;
	padding: 1px 15px 0px 5px;
}

.strip-right
{
	float: left;
	max-width: 240px;
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
	padding: 3px 0px 0px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 0.9em;
}

.strip-right2
{
	float: left;
	max-width: 600px;
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
	padding: 3px 0px 0px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 0.9em;
}

.icon
{
	width: 100%;
	height: 100%;
}

.avatar-frame
{
	width: 140px;
	height: 165px;
	margin: 0 auto;
	margin-top: 8px;
}

.avatar
{
	width: 100%;
	height: auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 4px #27ae60 solid;
}

.dont-break-out {
  overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}